.form-container{
    width: 30vw;
    display: grid;
    /* flex-direction: column; */
    size: 20px;
    /* background-color: red; */
    justify-content: center;
    grid-template-columns: 1fr;
    border: 5px;
    margin: 2px;
    align-items: center;
}
.form-container input{
margin: 2px;
text-align: center;
}

.form-container label{
    text-align: center;
}



/* .btn-sign-log:hover{
    background-color: rgb(41,90,95);
    color: white;
} */


.btn-login{
    /* grid-column: span 2; */
    margin:5px 25% 0 25%;
    width: 50%;
    background-color:rgb(166,198,183);
    border: 1px solid black;
    border-radius: 5px ;

}


.btn-login:hover{
    background-color: rgb(41,90,95);
    color: white;
    border: 1px solid white;
    border-radius: 5px ;
}

.btn-signup{
    margin:5px 25% 0 25%;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px ;
}

.btn-signup:hover{
    background-color: rgb(41,90,95);
    color: white;
    border: 1px solid white;
    border-radius: 5px b;

}

