.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(130,168,157);
    height: 40px;
    padding: 0 10px 0 10px;
    width: 100vw;
}

.navbar span{
        margin-right: auto;
        padding: 10px;
}

.link{
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    color: black;
    text-decoration: none;
    background-color: rgb(190,193,150);
}

.link:hover{
    background-color: rgb(196,175,130);
    border: 1px solid cornsilk;
    border-radius: 5px;
    padding: 3px;
    color: cornsilk;
    text-decoration: underline;
}