.form-container {
  width: 50vw;
  display: grid;
  /* flex-direction: column; */
  size: 20px;
  /* background-color: red; */
  justify-content: center;
  grid-template-columns: 1fr;
  border: 5px;
  margin: 2px;
}
.form-container input {
  margin: 2px;
  text-align: center;
}

.btn-signup {
  margin: 5px 25% 0 25%;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
}

.btn-signup:hover {
  background-color: rgb(41, 90, 95);
  color: white;
  border: 1px solid white;
  border-radius: 5px b;
}
